<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GepetoServices - Confirmação de email</title>
	</head>
	<body>
		<style type="text/css">
			.table {
				width: 100%;
				font-family: Arial, sans-serif;
				background: rgb(31, 31, 31);
				color: #dedede;
				padding: 0.5rem;
			}
			.header,
			.header th {
				width: 100%;
				text-align: center;
			}
			.header {
				height: 40px;
			}
			.top,
			.mid,
			.bottom {
				width: 100%;
				text-align: center;
			}
			.link {
				color: #1b9dc7;
				text-decoration: none;
			}
			.linkdiv {
				padding-top: 0.2rem;
				padding-bottom: 1rem;
			}

			.h1 {
				margin: 0.7rem;
			}
			.h2 {
				margin: 0.5rem;
			}
			.h3 {
				margin: 0.3rem;
			}
		</style>
		<table
			class="table"
			style="
				width: 100%;
				font-family: Arial, sans-serif;
				background: rgb(31, 31, 31);
				color: #dedede;
				padding: 0.5rem;
			"
		>
			<tr
				class="header"
				style="width: 100%; text-align: center; height: 40px"
			>
				<th style="width: 100%; text-align: center">
					<img
						style="width: 332px; height: 83px"
						src="https://firebasestorage.googleapis.com/v0/b/gepetoservices.appspot.com/o/gs-preto.png?alt=media&token=7b67800c-b1ac-4f80-8ac5-86d1205463f6"
						alt="Logo"
					/>
				</th>
			</tr>
			<tr class="top" style="width: 100%; text-align: center">
				<td>
					<h2 class="h2" style="margin: 0.5rem">
						Olá <%= username %>!
					</h2>
				</td>
			</tr>
			<tr class="mid" style="width: 100%; text-align: center">
				<td>
					<div>
						<h2 class="h2" style="margin: 0.5rem">
							Seu email foi cadastrado como uma conta do
							GepetoServices.
						</h2>
						<p>
							Caso você não tenha feito este pedido,
							<b>ignore</b> este mensagem, e cuidado onde você
							expõe seu email na internet, segurança é tudo!
						</p>
					</div>
				</td>
			</tr>
			<tr class="bottom" style="width: 100%; text-align: center">
				<td>
					<div>
						<h3 class="h3" style="margin: 0.3rem">
							Para verificar sua conta, clique no link abaixo:
						</h3>
					</div>
					<div
						class="linkdiv"
						style="padding-top: 0.2rem; padding-bottom: 1rem"
					>
						<a
							class="link"
							href="<%= link %>"
							target="_blank"
							style="color: #1b9dc7; text-decoration: none"
							>Link de confirmação
						</a>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
